<div class="main">
        <div class="top">
            <div>{{song.type}}</div>
            <h3>{{song.title}}</h3>
            <div>{{song.artist}}</div>
        </div>
        <div class="mid">
            <div>
            <span on-click="toggleLoop()">
                <Icon [name]="loop"></Icon>
            </span>
        </div>
        <div>
            <span>
                <Icon [name]="'backward'"></Icon>
            </span>
            <span on-click="playTrack()">
                <Icon [name]="isPaused?'play':'pause'"></Icon>
            </span>
            <span>
                <Icon [name]="'forward'"></Icon>
            </span>
        </div>
        <div><span on-click="toggleFavourite()">
                <Icon [name]="song.favourite?'heartFill':'heart'"></Icon>
            </span></div>

        </div>
        <div class="bot">
            <input type="range" [disabled]="true" [max]="max" [value]="indicator" [title]="indicator">
            <div>
            <span>2:32 </span> <span> 5:24</span>
        </div>
    </div>
    <input #pns type="text" (keyup)="testingserver(pns.value)">
    <br/>
    <strong>
        <div>Count::{{socketres.count}}</div>
        <div>{{socketres.data}}</div>
    </strong>
</div>
{{result|json}} <br/> <br/> 
{{socketres|json}}
<audio #audioPlayer id="audioPlayer" controls src="../assets/first.mp3" type="audio/mpeg" ></audio>
<style>
    .main {
        box-sizing: border-box;
        padding: .5em;
        border-radius: 4px;
        border: 1px solid hsl(126, 58%, 54%);
        background-image: linear-gradient(90deg,
                hsl(126, 95%, 95%) 40%,
                hsl(126, 79%, 71%),
                hsl(126, 49%, 54%));
    }

    *{
        border:0px solid red;
    } 
    .top>div {
        font-size: .6rem;
    }

    .mid {
        display: flex;
    }

    .mid>div {
        margin: .3em 6px;
    }

    .mid>div:nth-child(2) span {
        margin: 5px;
    }

    .mid span {
        color: rgb(0, 0, 0);
        cursor: pointer;
    }

    .bot input {
        width: 100%;
    }

    .bot>div {
        display: flex;
        justify-content: space-between;
    }
    .bot>div span {
        font-size: .8rem;
    }
</style>