<p highlight="world">Welcome to the world of Angular! world</p>
<div class="list-container" infiniteScroll (onScrollEnd)="loadMoreItems()">
    <ul class="item-list">
        <li *ngFor="let item of items">{{ item }}</li>
    </ul>
</div>
<div class="per_page">
    <div class="dropdown">
        <div class="dropdown-toggle">
            <span>Item per page: </span>
            <span>{{itemsPerPage}}</span>
            <fa-icon [icon]="faChevronDown"></fa-icon>
        </div>
        <div class="dropdown_menu">
            <div *ngFor="let per of [2,3,5,8]" (click)="itemsPerPage=per">
                {{per}}
            </div>
        </div>
    </div>
</div>

<style>
    .per_page {
        display: flex;
        margin-left: 150px;
    }

    .dropdown {
        border: 1px solid #d4d5d9;
        z-index: 1000;
        padding: .6em 1em;
        position: relative;
        cursor: pointer;
        box-sizing: border-box;
    }

    .dropdown .dropdown-toggle>fa-icon {
        margin-left: 5em;
        color: #d4d5d9;
    }

    .dropdown_menu {
        position: absolute;
        border: 1px solid #d4d5d9;
        width: calc(100% - .5px);
        left: -.5px;
        /* top: 100%; */
        top: 100%;
        display: none;
        transition: display 5000ms;
    }

    .dropdown_menu div {
        background-color: rgba(255, 255, 255, 0.95);
        padding: .6em 1em;
    }

    .dropdown_menu div:hover {
        background-color: #f4f4f5;
    }

    .dropdown:hover .dropdown_menu {
        display: block;
    }
</style>

<div class="container" *appPagination="'NotUsed';info {currentPage,totalItems,itemsPerPage} ;let pages=pages;">
    <div class="item-list">
        <div *ngFor="let item of items.slice(currentPage*itemsPerPage,currentPage*itemsPerPage+itemsPerPage)">
            {{ item }} &nbsp;
            {{currentPage}}{{totalItems}}{{itemsPerPage}}
        </div>
    </div>
    <!-- (pageChanged)="onPageChanged($event)"> -->

    <div class="pagination-wrapper">
        <button (click)="leftPage()">
            << </button>
                <div class="pages">
                    <div [style.left]="marginLeft+'px'">
                        <span *ngFor="let page of pages;let idx=index;" (click)="onPageChanged(idx)"
                            [class.active]="currentPage===idx">
                            {{page}}
                        </span>
                    </div>
                </div>
                <button (click)="rightPage()">>></button>
    </div>
</div>

<!-- <div *ngFor="let item of items">{{item}}</div> -->

<style>
    .pagination-wrapper {
        margin: 5px 0;
        display: flex;
    }

    .pagination-wrapper button {
        z-index: 1;
        font-weight: 700;
        padding: 1px;
    }

    .pagination-wrapper .pages {
        position: relative;
        box-sizing: border-box;
        width: 40px;
        /* border: 2px solid red; */
        overflow: hidden;
    }

    .pagination-wrapper .pages div {
        display: flex;
        left: 12.5px;
        top: -2px;
        position: absolute;
        width: 100%;
        transition: left 500ms;
        box-sizing: border-box;
        /* border: 1px solid rgb(200, 242, 30); */

    }

    .pagination-wrapper .active {
        font-weight: 600;
    }

    .pagination-wrapper span {
        margin: 0 1px;
        text-align: center;
        cursor: pointer;
        padding: 0 2px;
    }
</style>