
.mmodal {
    /* // makes it hover above all elements */
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    background-color: #000000b3;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

